body {
    margin: 0;
    background: rgb(76, 76, 76);
    height: auto;
    color: rgb(200, 200, 200);
}

main {
    width: 700px;
    margin: auto;
    box-shadow: 30px 0 40px rgba(0, 0, 0, 0.1), -30px 0 40px rgba(0, 0, 0, 0.1);
}

header {
    top: 10px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
    align-items: center;
}

#menubar {
    background: red;
    position: relative;
    height: 100%;
    width: 90%;
    overflow: hidden;
    transition: all 0.5s 0.2s ease;
}

#menubar.hidden {
    /* overflow: hidden; */
    /* visibility: hidden; */
    width: 10%;
    transition: all 0.3s ease;
}

#menubar ul {
    height: 100%;
    margin: 0;
    padding: 10px;
    position: relative;
    list-style: none;
    /* display: flex;
    align-items: center; */
    vertical-align: middle;
}

#menubar ul li {
    float: left;
    height: 100%;
    overflow: hidden;
    margin-right: 20px;
    list-style-position: inside;
}

li a {
    color: white;
    text-decoration: none;
}

#searchbar {
    position: relative;
    height: 100%;
    width: 0;
    background: white;
    transition: all 0.5s 0.2s ease;
}

#searchbar.active {
    height: 100%;
    width: 90%;
    transition: all 0.3s ease;
}

input[type="text"] {
    position: relative;
    outline: none;
    width: 100%;
    height: 90%;
    border: 0px none;
    padding-left: 15px;
}

#searchicon {
    cursor: pointer;
    position: relative;
    background: rgb(56, 56, 56);
    height: 100%;
    width: 10%;
    transition: all 0.3s ease;
}

#searchicon.active {
    background: #062333;
    transition: all 0.3s ease;
}

#searchicon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
